<h1>Boggle game!</h1>
<p>Welcome to our Boggle game application</p>

<div class="boggle-game">
  <section id="dice-grid">
    <div class="dice">
      <button *ngFor="let letter of letters, let i = index" [attr.data-index]="i" [disabled]="letter.selected" (click)="addLetter(letter.value, letter.id)">
        {{ letter.value }}
      </button>
    </div>


  </section>

  <div>
    <p> {{word}} </p>
    <button class="clear" (click)="clearWord()"  [disabled]="word.length == 0"> Clear </button>
    <button class="finish" (click)="saveWord()" [disabled]="word.length < 3"> Save word </button>
    <p> Min 3 letter per word required </p>
    <div>
      <ul>
        <li *ngFor="let word of words">{{word}}</li>
      </ul>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div>

    </div>
  </div>

</div>
<button class="shuffle" (click)="clearState()"> New game </button>
<button class="finish" (click)="sendWords()"> Finish </button>
